@using OdeToFood.Core
@model Restaurant

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>@Model.Name</h3>
    </div>
    <div class="panel-body">
      <h5>Location <span class="badge badge-secondary">@Model.Location</span></h5>
      <h5>Cuisine <span class="badge badge-secondary">@Model.Cuisine</span></h5>
    </div>
    <div class="panel-footer">
      <a class="btn btn-sm"
         asp-page="./Detail"
         asp-route-restaurantId="@Model.Id">
        <i class="fas fa-eye"></i>
      </a>
      <a class="btn btn-sm"
         asp-page="./Edit"
         asp-route-restaurantId="@Model.Id">
        <i class="fas fa-pen-square"></i>
      </a>
      <a class="btn btn-sm"
         asp-page="./Delete"
         asp-route-restaurantId="@Model.Id">
        <i class="fas fa-trash-alt"></i>
      </a>
    </div>
  </div>
